<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztt.server.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.ztt.server.pojo.Menu">
        <result column="id" property="id"></result>
        <result column="url" property="url"></result>
        <result column="path" property="path"></result>
        <result column="component" property="component"></result>
        <result column="name" property="name"></result>
        <result column="iconCls" property="iconCls"></result>
        <result column="keepAlive" property="keepAlive"></result>
        <result column="requireAuth" property="requireAuth"></result>
        <result column="parentId" property="parentId"></result>
        <result column="enabled" property="enabled"></result>
    </resultMap>
    <resultMap id="Menus" type="com.ztt.server.pojo.Menu" extends="BaseResultMap">
        <collection property="children" ofType="com.ztt.server.pojo.Menu">
            <result column="id2" property="id"></result>
            <result column="url2" property="url"></result>
            <result column="path2" property="path"></result>
            <result column="component2" property="component"></result>
            <result column="name2" property="name"></result>
            <result column="iconCls2" property="iconCls"></result>
            <result column="keepAlive2" property="keepAlive"></result>
            <result column="requireAuth2" property="requireAuth"></result>
            <result column="parentId2" property="parentId"></result>
            <result column="enabled2" property="enabled"></result>
        </collection>
    </resultMap>
    <resultMap id="MenusWithRole" type="com.ztt.server.pojo.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="com.ztt.server.pojo.Role">
            <id column="rId" property="id"></id>
            <result column="rName" property="name"></result>
            <result column="rNameZh" property="nameZh"></result>
        </collection>
    </resultMap>
    <resultMap id="AllMenuList" type="com.ztt.server.pojo.Menu" extends="BaseResultMap">
        <id property="id" column="id1" />
        <result property="name" column="name1" />
        <collection property="children" ofType="com.ztt.server.pojo.Menu">
            <id column="id2" property="id" />
            <result column="name2" property="name" />
            <collection property="children" ofType="com.ztt.server.pojo.Menu">
                <id column="id3" property="id" />
                <result column="name3" property="name" />
            </collection>
        </collection>
    </resultMap>

    <select id="getMenuListByAdminId" resultMap="Menus">
        SELECT
        DISTINCT
            m1.*,
            m2.id as id2,
            m2.url as url2,
            m2.path as path2,
            m2.component as component2,
            m2.name as name2,
            m2.iconCls as iconCls2,
            m2.keepAlive as keepAlive2,
            m2.requireAuth as requireAuth2,
            m2.parentId as parentId2,
            m2.enabled as enabled2
        FROM
            t_menu as m1,t_menu as m2,t_admin_role as ar,t_menu_role as mr
        WHERE
            m1.id = m2.parentId
        AND
            m2.id = mr.mid
        AND
            mr.rid = ar.rid
        AND
            ar.adminId = #{id}
        AND
            m2.enabled = TRUE
        Order BY m2.id
    </select>
    <select id="getMenuListWithRole" resultMap="MenusWithRole">
        SELECT
            m.*,
            r.id as rId,
            r.name as rName,
            r.nameZh as rNameZh
        FROM
            t_menu as m,
            t_menu_role as mr,
            t_role as r
        WHERE
            m.id = mr.mid
        AND
            r.id = mr.rid
        ORDER BY
            m.id
    </select>
    <select id="getAllMenuList" resultMap="AllMenuList">
        SELECT
            m1.id as id1,
            m1.name as name1,
            m2.id as id2,
            m2.name as name2,
            m3.id as id3,
            m3.name as name3
        FROM
            t_menu as m1,
            t_menu as m2,
            t_menu as m3
        WHERE
            m1.id = m2.parentId
        AND
            m2.id = m3.parentId
        AND
            m3.enabled = TRUE
    </select>
</mapper>
